<%- include ("./partials/_header") %>



<div class="container">
  <a href ="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
    
<!--Esto es lo que es la primera sección-->
      <div class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">November 1, 2014 by <a href="#">Mark</a>     </p>
        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <a class = "btn btn-danger" href =""> Delete </a>
        <a class = "btn btn-info" href =""> Edit </a>
      </div>

      <!--Empieza dinamico-->
      <% for (let i = 0; i<tasks.length; i++) { %>
        <div class="blog-post">
          <h2 class="blog-post-title">    <%= tasks[i].title %>    </h2>
          <p class="blog-post-meta"> <%= tasks[i].post_date %> <a href="#">Mark</a>     </p>
          <p> <%= tasks[i].post_data %>  </p>
          <a class = "btn btn-danger" href ="/delete/<%= tasks[i]._id%>"> Delete </a>
          <a class = "btn btn-info" href ="/edit/<%= tasks[i]._id%>"> Edit </a>
        </div> 
      <% } %> 
      <!--Termina dinamico-->


    </div>
  </div>
</main>




<%- include ("./partials/_footer") %>